{% extends '@OroAction/Operation/form.html.twig' %}

{% block widget_content_inner %}
    <div class="form-horizontal">
        {{ parent() }}
    </div>
{% endblock %}

{% block form_actions_inner %}
    <button type="reset" class="btn">{{ 'oro.order.orderdiscount.action.cancel'|trans }}</button>
    <button type="submit" class="btn btn-primary btn-invoice-pdf">{{ 'payever.actions.invoicePdf.label'|trans }}</button>
{% endblock %}
