{% extends '@OroAction/Operation/form.html.twig' %}

{% block widget_content_inner %}
    <div class="alert alert-info" role="alert">
        {{ 'payever.order.payment_transaction.settle.message'|trans() }}
    </div>
    {{ parent() }}
{% endblock %}

{% block form_actions_inner %}
    <button type="reset" class="btn">{{ 'payever.actions.settle.button.cancelText'|trans }}</button>
    <button type="submit" class="btn btn-primary btn-settle">{{ 'payever.actions.settle.button.okText'|trans }}</button>
{% endblock %}