/* @theme: default; */

.payever-company-container {
    padding: 15px;
    box-shadow: 0 0 5px #ccc;
    display: inline-block;
}

.payever-company-container-edit {
    margin-top: 10px;
    display: block;
}
